*{
  margin: 0;
  padding: 0;
  color: white;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body{
  background-color: #320000;
} 

header{
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 15px;
  margin: 0;
  background-color: #320000;
  box-shadow: 0px 5px 10px #620000;
  cursor: pointer;
}

.meni{
  display: inline-flex;
  gap: 30px;
}

.meni p{
  font-size: 20px;
}

.active{
  text-decoration: underline;
}

.wrapper{
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.home-page-text{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

footer{
  display: flex;
  font-size: 12px;
  text-align: center;
  justify-content: center;
  padding: 15px;
  margin: 0;
  background-color: #320000;
  box-shadow: 0px -5px 10px #620000;
}

.proizvod{
  padding: 20px;
  margin: 10px;
  border: 10px, #500000;
  border-radius: 10px;
  background-color: #500000;
  display: inline-block;
  max-width: 300px;
  text-align: center;
}

.proizvod .naziv-proizvoda{
  text-align: left;
}

.proizvod .cena-proizvoda{
  text-align: right;
}

.proizvod button{
  justify-content: center;
  align-items: center;
  background-color: #870000;
  padding: 7px;
  width: 175px;
  border-radius: 7px;
  border: none;
}

.body-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.body-wrapper h3 {
  align-self: flex-start;
  text-align: left;
  margin-left: 150px;
  padding: 7px;
}

.lista-proizvoda{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 30px 30px 50px 30px;
  background-color: #620000;
  height: 100%;
  max-width: 1000px;
  margin: 0;
  border-radius: 10px;
}

.cart-wrapper {
  background-color: #4d0000;
  padding: 20px;
  border-radius: 10px;
  color: white;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.cart-wrapper h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

.empty-cart-button {
  background-color: #990000;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s;
}

.empty-cart-button:hover {
  background-color: #cc0000;
}

.item-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #660000;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.item-cart img {
  border-radius: 5px;
  width: 100px;
  height: auto;
}

.item-info {
  flex-grow: 1;
  margin-left: 20px;
  text-align: left;
}

.item-info h3 {
  margin: 0;
  font-size: 18px;
}

.item-info p {
  margin: 5px 0 0;
  font-size: 16px;
}

.item-quantity {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item-quantity button {
  background-color: #990000;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.item-quantity button:hover {
  background-color: #cc0000;
}

.item-quantity p {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}
